.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-selector {
  position: relative;
}

.selected-client {
  width: 280px;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}